<ion-header no-border>
  <!--
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="header-logo" src="assets/imgs/header-logo.png"/>
      </ion-col>
      <ion-col>
        <!--
        <button ion-button float-right color="secondary">Register</button>
        <button ion-button color="light" outline float-right>Login</button>
        -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-5>
        <ion-card>
          <ion-card-header text-center>
            Add New Player
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-input [(ngModel)]="name" type="text" placeholder="Player Name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Player Weight</ion-label>
                <ion-select [(ngModel)]="weight">
                  <ion-option *ngFor="let val of weightValues" [value]="val.value">{{ val.label }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <button ion-button color="secondary" block (click)="addPlayer()">Add Player</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-7>
        <ion-card>
          <ion-card-header text-center>
            Your Players
          </ion-card-header>
          <ion-card-content>
            <ion-scroll style="height:300px" scrollY="true">
              <ion-list scroll="true">
                <ion-card *ngIf="group.players.length === 0" color="dark">
                  <ion-card-content color="dark">
                    <ion-item color="dark">
                      <ion-label>You have not added any players.</ion-label>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
                <ion-card *ngFor="let player of group.players" color="dark">
                  <ion-card-content color="dark">
                    <ion-item color="dark">
                      <ion-label>{{ player.name }}</ion-label>
                      <button class="close-button" ion-button (click)="removePlayer(player.name)" icon-only clear item-end>
                          <ion-icon name="close" color="danger"></ion-icon>
                      </button>
                    </ion-item>
                    <ion-item color="dark">
                      <ion-icon class="hidden-md" name="star" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight > 1" class="hidden-md" name="star" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight > 2" class="hidden-md" name="star" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight > 3" class="hidden-md" name="star" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight > 4" class="hidden-md" name="star" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight < 5" class="hidden-md" name="star-outline" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight < 4" class="hidden-md" name="star-outline" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight < 3" class="hidden-md" name="star-outline" color="primary" item-end></ion-icon>
                      <ion-icon *ngIf="player.weight < 2" class="hidden-md" name="star-outline" color="primary" item-end></ion-icon>
                      <ion-icon class="show-md" name="star" color="primary" item-end>{{ player.weight }}</ion-icon>
                      <ion-toggle [(ngModel)]="player.active"></ion-toggle>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-list>
            </ion-scroll>
            <button *ngIf="teams.length === 0" ion-button color="secondary" block (click)="showTeamPrompt()">Generate Teams</button>
            <button *ngIf="teams.length > 0" ion-button color="secondary" block (click)="showTeamPrompt()">Regenerate Teams</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 *ngFor="let team of teams">
        <ion-card>
          <ion-card-header text-center>
            Team {{ team.name }}
          </ion-card-header>
          <ion-card-content>
            <ion-scroll style="height:300px" scrollY="true">
              <ion-list scroll="true">
                <ion-card *ngFor="let player of team.players" color="dark">
                  <ion-card-content color="dark">
                    <ion-item color="dark" text-center>
                      <ion-label>{{ player.name }}</ion-label>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-list>
            </ion-scroll>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
